*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: Forum;
    src: url(/assets/fonts/Forum/Forum-Regular.ttf);
}

a {
    text-decoration: none;
    color:#FFF;
}

li {
    list-style: none;
}

.container {
    margin: 0 auto;    /*возможно надо будет убрать!!!!!!!!!!!*/
    max-width: 1440px;
}

.section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.dark-section {
    padding-top: 90px;
    padding-bottom: 75px;
    background-color: #030303;
}

.video-section {
    padding-top: 90px;
    padding-bottom: 75px;
}

header {
    background-color: #030303;
    height: 150px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mask-logo {
    width: 49px;
    height: 26px;
    background-color: #FFF;
    -webkit-mask-image: url(/assets/img/Logo.svg);
    transition: 0.2s;
}

.mask-logo:hover {
    background-color: #9d8665;
}

.logo-text {
    padding-left: 25px;
    font-family: Forum, sans-serif;
    color: #FFF;
    text-transform: uppercase;
    font-size: 28px;
    transition: 0.2s;
}

.logo-text:hover {
    color: #9d8665;
}

.navigation {
    font-family: Roboto;
    font-size: 22px;
    color: #FFF;
    font-weight: 100;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 775px;
}

.nav-item {
    padding-left: 55px;
    height: 150px;
}

.nav-link {
    color: #FFF;
    transition: 0.2s;
    line-height: 150px
}

.nav-link:hover {
    color: #9d8665;
}

.nav-link:active {
    color: #7E6C51;
}

.welcome-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-list {

}

.section-title {
    font-family: Forum;
    font-size: 80px;
    color:#9d8665;
    font-weight: 200;
    text-transform: uppercase;
}

.hero-list-text {
    font-family: Roboto;
    font-size: 28px;
    color:#FFF;
    font-weight: 100;
    padding-top: 25px;
    padding-bottom: 75px;
}

.hero-list-btn {
    display: inline-block;
    font-family: Roboto;
    font-size: 22px;
    color:#FFF;
    font-weight:100;
    padding-left: 64px;
    padding-right: 64px;
    line-height: 75px;
    background-color: #710707;
    border-radius: 10px;
    transition: 0.2s;
}

.hero-list-btn:hover {
    background-color: #9d8665;
}

.hero-img-lisa {
    width: 1000px;
    height: 750;
}

.visiting-list {
    display: flex;
    flex-wrap: wrap;
    gap: 75px 60px;
}

.underline-title {
    position: relative;
}
.underline-title::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #710707;
}

.visiting-img {
    width: 440px;
    height: 285px;
    padding-top: 75px;
}

.visiting-item-title {
    font-family: Forum;
    font-size: 32px;
    color: #000;
    text-transform: uppercase;
    font-weight: 200;
}

.underline-text {
    position: relative;
}
.underline-text::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 300px;
    height: 2px;
    background-color: #710707;
}

.visiting-item-text-1 {
    font-family: Roboto;
    font-size: 22px;
    color: #000;
    font-weight: 100;
    padding-top: 10px;
}

.visiting-item-text-2 {
    font-family: Roboto;
    font-size: 18px;
    color: #000;
    font-weight: 100;
    padding-top: 10px;
}

.container-explore {
    display: flex;
    flex-direction: row;
}

.dark-section-title {
    font-family: Forum;
    font-size: 80px;
    color:#FFF;
    font-weight: 200;
    text-transform: uppercase;
}

.explore-text {
    font-family: Roboto;
    font-size: 22px;
    color:#FFF;
    font-weight: 100;
    padding-top: 25px;
}

.explore-block-text {
    padding-top: 75px;
}

.explore-span {
    color:#CAAA7D;
}

.explore-img {
    width: 720px;
    height: 700px;
    padding-left: 60px;
}

.video-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-text {
    font-family: Roboto;
    font-size: 22px;
    color:#000;
    font-weight: 100;
    width: 720px;
}

.main-video {
    position: relative;
}

.play-btn-img {
    position: absolute;
    width: 220px;
    height: 220px;
    left: 610px;
    top: 300px;
}

.big-video {
    width: 1440px;
    height: 650px;
    object-fit: cover;
    padding-top: 75px;
}

.tool-bar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 1440px;
    height: 85px;
    background-color: #000;
    margin-top: -24px;
}

.play {
    width: 23px;
    height: 31px;
    padding-left: 30px;
    padding-right: 50px;
}

.progress-video {
    background: linear-gradient(to right, #710707 0%, #710707 40%, #C4C4C4 40%, #C4C4C4 100%);
    border: none;
    border-radius: 0%;
    width: 930px;
    height: 8px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}    

.progress-video::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #FFF;
}

.volume {
    width: 38px;
    height: 31px;
    padding-left: 50px;
    padding-right: 50px;
}
.progress-volume {
    background: linear-gradient(to right, #710707 0%, #710707 40%, #C4C4C4 40%, #C4C4C4 100%);
    border: none;
    border-radius: 0%;
    width: 155px;
    height: 8px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.progress-volume::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #FFF;
}

.full-screen {
    width: 35px;
    height: 35px;
    padding-left: 50px;
    padding-right: 10px;
}

.secondary-video-list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.secondary-video {
    position: relative;
}

.play-btn-little {
    position: absolute;
    width: 68px;
    height: 48px;
    left: 192px;
    top: 125px;
}

.little-video {
    width: 452px;
    height: 254px;
    object-fit: cover;
    padding-top: 40px;
}

.main-gallery-container {
    display: flex;
}

.gallery-container {
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.gallery-container-center {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.gallery-img {
    padding-bottom: 24px;
    width: 456px;
    height: 570px;
}